body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    padding: 30px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #ff7300;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ff7300;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 48%;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field input,
.form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    background-color: #ff7300;
    color: white;
}

.find-btn {
    background-color: #00bfa5;
    color: white;
}

.student-table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
}

.student-table th, .student-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

.student-table th {
    background-color: #ff7300;
    color: white;
}

.student-table td button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.student-table td button:hover {
    background-color: #007e68;
}

.student-table td button:active {
    transform: scale(0.98);
}




